<form class="form-inline">
    <div class="form-group">
        <label for="exampleInputEmail1">Url</label>
        <input type="email" class="form-control" id="inputUrl" placeholder="Enter url">
    </div>
    <button type="button" id="btnGoToUrl" class="btn btn-default">Go to site</button>
</form>
<iframe class="input-site" id="inputSite" name="inputSite" src="about:blank" width="100%" height="500" frameborder="0"></iframe>
<div class="achievements-wrapper">
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Action</th>
            <th>Element</th>
            <th>Wait?</th>
        </tr>
    </thead>
    <tbody id="inputActions">
        <tr>
            <th scope="row">1</th>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tr>
    </tbody>
</table>
</div>