<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Run test</th>
                <th>Step 1</th>
                <th>Step 2</th>
                <th>Step 3</th>
                <th>Step 4</th>
                <th>Step 5</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td style="text-align: left;"><button class="btn btn-default run-test" type="submit">run test</button></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><div class="selenium-result"></div></td>
            </tr>
        </tbody>
    </table>
</div>